 
body{margin:0;font-family:LatoX,sans-serif;color:#484b4c;background:url(../img/bg.png) no-repeat 0 0 #f0f0f0}.hidden{display:none!important}body.wait{cursor:wait}.clearfix::after{display:block;clear:both;content:""}*,::after,::before{box-sizing:border-box}.box{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;margin-top:2rem;opacity:1;transition:opacity .2s}.box.nsh{box-shadow:0 0 0 transparent!important;border:none medium;opacity:0;transition:opacity .2s}.box .ins{padding:1rem;text-align:left;line-height:1.5}.ins p{margin:0 0 1rem 0}a,a:visited{color:#000}.grapht{margin-top:1rem}.grapht h2{margin-bottom:0;text-transform:uppercase}.box_graph{width:100%}.graph_c{float:left;margin:0 10px}.graph_c h3,.graph_g h3{max-width:345px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:0!important}.graph_g h3{max-width:419px}.graph_g h3 small{display:block;font-weight:400;font-size:.85rem;margin-top:.2rem}.graph_g h4{font-weight:400;font-size:.9rem;margin:.2rem 0 .35rem}.graph_c img{padding:0 2.85rem;width:100%;max-width:100%}.graph_g{float:left;margin:0 auto 1rem;width:33.333%}.graph_g.ft{width:50%}.graph_g.ft h3{max-width:100%}.graph_g.ft img{padding:.5rem 3rem}.graph_g img{max-width:100%;width:100%;padding:0 2.45rem}.graph_c .js-plotly-plot{margin:0}.graph_c h3.nmb{margin-bottom:0;margin-top:2rem}.header{background-color:#fff;box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);width:100%;z-index:3;position:relative}.header ul{margin:0;padding:0;list-style:none;overflow:hidden;background-color:#fff}.header a{color:#585c5f}.header li a{display:block;padding:20px 20px;border-right:1px solid #f4f4f4;text-decoration:none}.header li.active a{font-weight:700}.header .menu-btn:hover,.header li a:hover{background-color:#f4f4f4}.header .logo{display:block;float:left;font-size:1.9rem;padding:10px 10px 10px 70px;text-decoration:none;font-weight:700}.logo img{position:absolute;top:3px;left:10px}.header .menu{clear:both;max-height:0;transition:max-height .2s ease-out}.header .menu-icon{cursor:pointer;display:inline-block;float:right;padding:28px 20px;position:relative;user-select:none}.header .menu-icon .navicon{background:#333;display:block;height:2px;position:relative;transition:background .2s ease-out;width:18px}.header .menu-icon .navicon:after,.header .menu-icon .navicon:before{background:#333;content:'';display:block;height:100%;position:absolute;transition:all .2s ease-out;width:100%}.header .menu-icon .navicon:before{top:5px}.header .menu-icon .navicon:after{top:-5px}.header .menu-btn{display:none}.header .menu-btn:checked~.menu{max-height:840px}.header .menu-btn:checked~.menu-icon .navicon{background:0 0}.header .menu-btn:checked~.menu-icon .navicon:before{transform:rotate(-45deg)}.header .menu-btn:checked~.menu-icon .navicon:after{transform:rotate(45deg)}.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before{top:0}.hidemob{display:none}.large{display:block}@media (min-width:48em){.header li{float:left}.header li a{padding:20px 30px}.header .menu{clear:none;float:right;max-height:none}.header .menu-icon{display:none}}#header{text-align:center}.good_d{color:green}.bad_d{padding:.5rem;margin:1rem auto;background-color:#c00;color:#fff;border-radius:5px;max-width:80%;font-weight:700}.good_t{color:green!important}.bad_t{color:orange!important}.ugly_t{color:#c30202!important}#disclaimer,#footer,#main-content{text-align:center;max-width:1100px;margin:0 auto}#disclaimer{text-align:left;line-height:1.5;margin:0 auto;padding:.5rem}#footer{margin-top:2rem;margin-bottom:1rem;border-top:1px solid #c1c1c1;padding:1rem .5rem;line-height:1.4}#main-content.tonly{text-align:left;color:#111}#results{margin:2rem 1rem}#sum_main{max-width:900px;margin:0 auto;color:#000;padding:2rem 1rem;font-weight:700;font-size:1.5rem;line-height:1.4}h1{margin-bottom:.5em}h2{margin-top:0}p.to{font-size:1.05rem;color:#5f5f5f;font-weight:700}#summary h3{margin-bottom:0}#summary h4{margin-top:.3rem}#outcome{margin:2rem auto;max-width:900px;border-top:1px solid #ccc}#inout{padding:1.5em .5em}#state_sum{display:flex;flex-flow:row wrap;border-bottom:1px solid rgba(0,0,0,.15);padding:0 0 1rem 0;margin:1rem 1rem 0 1rem}#state_sum dt{clear:both;width:150px;color:#585050;text-align:left}#state_sum dd,#state_sum dt{margin-bottom:.5rem;float:left}#state_sum dd{font-weight:700}#state_sum .std{flex-grow:1;margin-left:2rem}#state_sum .std dl{column-count:2}#state_sum .std{flex-grow:1;margin-left:2rem;text-align:left}#state_sum p{margin-top:.2rem;font-size:.9rem}.state_graphs{display:flex;-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important}.state_graphs.large{display:block}.flg{width:200px;text-align:center}.flg img{max-width:100%;border:1px solid rgba(0,0,0,.1)}#state_select img{max-width:80px;display:block;margin:0 auto}#recalc_form{max-width:900px;margin:2rem auto;padding:.5rem;border:1px solid #ccc;background:#f0f0f0}#recalc_form.lg{max-width:1000px}#recalc_form.lg .form-group{margin-left:1rem}#recalc_form.lg label{width:29rem}.form-group{margin-bottom:1rem;margin-left:8rem}.form-group label{float:left;margin-right:1rem;width:25rem;text-align:right;vertical-align:middle;height:calc(1.5em + .75rem + 2px);padding-top:.5em;font-weight:700}.dval,.form-group label.no_e{line-height:calc(1.5em + .75rem + 2px)}.form-group label span{font-weight:400;font-size:.85rem;display:block;line-height:1.85}.form-group label span.explained{display:inline}.form-group .form-input{float:left;padding-top:.5rem}

.group span,input[type=text],input[type=number]{width:8rem;height:calc(1.5em + .75rem + 2px);padding:.375rem .35rem .375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;border:1px solid #ced4da;border-radius:.25rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;word-wrap:normal;margin-bottom:.2rem}


.group{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:0;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;text-align:center;white-space:nowrap;border-radius:.25rem}.group input{border-radius:.25rem 0 0 .25rem;max-width:5.5rem}.group span{border-radius:0 .25rem .25rem 0;border-left:none medium;max-width:2.5rem}a.btn,button{margin:.5rem 0 1.5rem;display:inline-block;font-weight:400;color:#fff;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#797979;border:1px solid #ccc;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-weight:700;text-decoration:none}a.btn:focus,a.btn:hover{text-decoration:none}
button.btn{font-weight: 600;
   background: #fff;   color: #4a4343;}
   button.btn:hover, button.btn:focus {
      background:#ccc;
   }
   
   
   a.btn.disabled{cursor:default;font-weight:700;background:#fff;color:#111}
   select{display:inline-block;width:100%;max-width:20rem;height:calc(1.5em + .75rem + 2px);padding:.375rem 1.75rem .375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;vertical-align:middle;background:#fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA0IDUiPjxwYXRoIGZpbGw9IiUyMzM0M2E0MCIgZD0iTTIgMEwwIDJoNHptMCA1TDAgM2g0eiIvPjwvc3ZnPg==) no-repeat right .75rem center/8px 10px;border:1px solid #ced4da;border-radius:.25rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;word-wrap:normal;margin-bottom:.2rem}.notice{display:block;margin:.5rem auto 1rem}body.wait select{cursor:wait}#loader{margin:2rem auto}#loader img{max-width:120px;display:block;margin:0 auto}.gauge_cont{max-width:900px;margin:0 auto}.metric{display:inline-block;width:24%}.metric svg{margin:.5em 1rem}.metric path{stroke-width:75;stroke:#ecf0f1;fill:none}.metric .title{font-size:3.8em}.metric.good path.data-arc{stroke:green}.metric.good text{fill:green}.metric.bad path.data-arc{stroke:orange}.metric.bad text{fill:orange}.metric.ugly path.data-arc{stroke:#c30202}.metric.ugly text{fill:#c30202}.pie_chart{display:block;width:50%;margin:.1rem auto;float:left}.inout{width:320px;height:320px;margin:0 auto;overflow:hidden}.inout_ty{max-width:950px;height:auto;overflow:auto;margin:2rem auto 0}.leg ul{list-style:none;margin:0;text-align:left;font-size:.8rem;padding:0;margin-left:8rem}.leg ul li{list-style:none;margin:0 0 .25rem}.leg ul li span{display:inline-block;width:.8rem;height:.8rem;margin-right:1rem;vertical-align:baseline}.table-holder{overflow-x:auto;margin-bottom:1.5rem;overflow-y:hidden}table{width:100%;max-width:800px;margin:0 auto;box-sizing:content-box;border-collapse:collapse;border-spacing:0}table th,td{padding:.4em;height:20px}table tbody tr th,table thead tr th{vertical-align:middle;text-align:left}table tbody td,table thead tr th{text-align:right}table thead tr th span{font-weight:400}table tbody td.ar{padding-left:35px;background-position:10px 50%;background-repeat:no-repeat}table tbody td.ar.good{background-image:url(../img/up.png);color:#c00;font-weight:700}table tbody td.ar.bad{background-image:url(../img/down.png)}table thead tr{border-bottom:1px solid #a2a2a2}table thead tr.nb,table thead tr.nb td{border:none}.brd{font-style:italic;text-align:right}table tbody tr th{border-right:1px solid #a2a2a2}table tbody tr{border-bottom:1px solid #ccc}table tbody tr{text-align:left}table tbody tr:last-child td,table tbody tr:last-child th{border-bottom:1px solid #a2a2a2}.row_good{background:#c8e5c3}.row_bad{background:#ff4e51}.trend{font-weight:700}#std h3{font-size:1.5rem;color:#000;margin-bottom:0;margin-top:2.5rem}.modebar{display:none!important}#soc{text-align:center;margin:0 .5rem}ul.share-buttons{list-style:none;padding:0}ul.share-buttons li{display:inline;cursor:pointer;margin-left:.3rem;margin-right:.3rem}ul.share-buttons img{width:35px}.adp{column-count:2;text-align:left;max-width:800px;margin:2rem auto}.adp span{display:inline-block;min-width:10rem}.js-plotly-plot{margin:0 2rem}.graph_det p{margin-bottom:0;margin-top:.2rem}.wn{white-space:nowrap}#MD_button a.btn{font-weight:400;font-size:.9rem;margin:.5rem}#MD_button a.btn.active,#MD_button a.btn.active:hover{background:#f0f0f0;color:#111;-webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.75);-moz-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.75);box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.75)}#MD_button a.btn:hover{background:#999;color:#fff}
   @media (max-width:48em){.large{display:none!important}.hidemob{display:block!important}.graph_c{float:none;margin-left:auto;margin-right:auto}.js-plotly-plot{margin:0}body{background-position:-250px -150px}h1{margin-bottom:.2rem}#results{margin:.5rem .2rem}#sum_main{padding:1rem .5rem;font-size:1.2rem}.metric,.pie_chart{display:block;width:100%;max-width:250px;margin:.5rem auto;float:none}.pie_chart{max-width:350px}.box{margin-top:.5rem}h1 img{display:none}#disclaimer,#main-content.tonly{margin:0 .5rem}.form-group{margin-bottom:1rem;margin-left:0}.form-group .form-input,.form-group label{float:none;padding:0;line-height:1;height:auto;margin:0;width:100%}table{margin:0 .5rem}table th,td{padding:.2em;font-size:.85rem}table,tbody,td,th,thead,tr{display:block;width:auto}thead tr{position:absolute;top:-9999px;left:-9999px}table tbody tr th{border-bottom:1px solid #666;border-right:none medium}td{border:none;border-bottom:1px solid #f3efef;position:relative;padding-left:50%;text-align:left!important;padding-bottom:.2rem}table tbody tr{margin-bottom:1rem;border-bottom:none medium}table tbody tr:last-child td,table tbody tr:last-child th{border-bottom:1px solid #f3efef}table thead tr:last-child td,table thead tr:last-child th{border-bottom:1px solid #666}table tbody tr:last-child th{border-bottom:1px solid #666}td:before{position:absolute;top:.1rem;left:.2rem;width:45%;white-space:nowrap}tfoot{display:none}td:nth-of-type(1):before{content:"Current"}td:nth-of-type(2):before{content:" "}td:nth-of-type(3):before{content:"14-Day Trend"}td:nth-of-type(4):before{content:" "}td:nth-of-type(5):before{content:"7-Day Trend"}td:nth-of-type(6):before{content:" "}#recalc_form{margin:0 .5rem .5rem}.leg ul{margin-left:2rem}.form-group label span{text-align:center;line-height:1.6;font-size:.75rem}#recalc_form button{margin-bottom:.5rem}.group{display:block}.adp{column-count:1}.flg{display:none}#state_sum .std{margin-left:0}.graph_g{float:none;margin:0 auto 1rem;width:auto!important;padding:0 .5rem}.grapht{padding:0 .5rem}.state_graphs{display:block}#state_sum .std dl{column-count:1}}
   .dets {
	display: none;
}

.anim {
   margin-bottom: 2rem
}

.anim_header {
   justify-content: center;
   display: flex
}

.anim_header h4 {
   font-size: 1.4rem;
   text-transform: uppercase;
   margin: 0 0 .25rem
}

.anim_header p {
   margin: 0
}

.image_player .cont_svg {
   float: right;
   margin-top: .5rem
}

.btn-anim,.select-css {
   cursor: pointer;
   display: inline-block
}

.btn-anim {
   background-color: #e6e6e6;
   border-radius: 3px;
   border: 1px solid #adacac;
   transition: all .15s;
   width: 33px;
   height: 33px;
   padding: 2px;
   vertical-align: middle;
   margin: 0 .2rem;
}

.cont_svg {
   margin-top: .3rem;
   margin-bottom: 1rem;
}

.btn-anim span {
   width: 18px;
   height: 18px;
   padding: 0;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin: .2rem
}

.btn-anim.m {
   width: 39px;
   height: 39px;
   padding: 5px;
   margin: 0 .5rem;
}

.btn-anim.m span {
   display: block;
   width: 25px;
   height: 25px;
   padding: 3px;
   margin: 0
}

.btn-anim:hover,table {
   background-color: #fff
}

.btn-anim.btn-play span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPnBsYXk8L3RpdGxlPjxwYXRoIGQ9Ik0xMzcuMSw3Mi43TDM3LjEsNi43YTUsNSwwLDAsMC03LjgsNC4ybDAuNiwxMzNhNSw1LDAsMCwwLDcuOCw0LjFsOTkuNC02N0E1LDUsMCwwLDAsMTM3LjEsNzIuN1oiLz48L3N2Zz4=)
}

.btn-anim.btn-pause span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPnBhdXNlPC90aXRsZT48cmVjdCB4PSIyNS4zIiB5PSIxMS4zIiB3aWR0aD0iNTIuNyIgaGVpZ2h0PSIxMzIiIHJ4PSI1IiByeT0iNSIvPjxyZWN0IHg9IjkwLjciIHk9IjExLjMiIHdpZHRoPSI1Mi43IiBoZWlnaHQ9IjEzMiIgcng9IjUiIHJ5PSI1Ii8+PC9zdmc+)
}

.btn-anim.btn-backward span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPmJhY2t3YXJkPC90aXRsZT48cGF0aCBkPSJNMTYyLjEsMTAuNWE1LDUsMCwwLDAtNy44LTQuMUw1OC42LDcwLjlWMTguMmE1LDUsMCwwLDAtNS01SDEwLjlhNSw1LDAsMCwwLTUsNXYxMjJhNSw1LDAsMCwwLDUsNUg1My42YTUsNSwwLDAsMCw1LTVWODQuNkwxNTUsMTQ4LjNhNSw1LDAsMCwwLDcuOC00LjJaIi8+PC9zdmc+)
}

.btn-anim.btn-forward span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPmZvcndhcmQ8L3RpdGxlPjxwYXRoIGQ9Ik0xNTcuNyw5LjVIMTE1LjFhNSw1LDAsMCwwLTUsNVY3MC4xTDEzLjcsNi40YTUsNSwwLDAsMC03LjgsNC4yTDYuNSwxNDQuMmE1LDUsMCwwLDAsNy44LDQuMWw5NS44LTY0LjV2NTIuN2E1LDUsMCwwLDAsNSw1aDQyLjdhNSw1LDAsMCwwLDUtNVYxNC41QTUsNSwwLDAsMCwxNTcuNyw5LjVaIi8+PC9zdmc+)
}

.btn-anim.btn-fastforward span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDkuNyAxMzYuMiI+DQogIDx0aXRsZT5mYXN0X2ZvcndhcmQ8L3RpdGxlPg0KICA8cGF0aCBkPSJNMTUyLjcsOS41SDExNy4xYTUsNSwwLDAsMC01LDVWNDMuNkw2MSw5LjhhNC43LDQuNywwLDAsMC03LjMsNFYzNi4yTDE1LjQsMTAuOGE0LjcsNC43LDAsMCwwLTcuMyw0TDguNiwxNDAuNmE0LjcsNC43LDAsMCwwLDcuNCwzLjlsMzguMi0yNS43djIwLjhhNC43LDQuNywwLDAsMCw3LjQsMy45bDUwLjUtMzR2MjdhNSw1LDAsMCwwLDUsNWgzNS43YTUsNSwwLDAsMCw1LTVWMTQuNUE1LDUsMCwwLDAsMTUyLjcsOS41WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTggLTkuMSkiLz4NCjwvc3ZnPg0K)
}

.btn-anim.btn-fastbackward span {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDkuNyAxMzYuMiI+DQogIDx0aXRsZT5mYXN0X2JhY2t3YXJkPC90aXRsZT4NCiAgPHBhdGggZD0iTTEzLDkuNUg0OC43YTUsNSwwLDAsMSw1LDVWNDMuNmw1MS0zMy43YTQuNyw0LjcsMCwwLDEsNy4zLDRWMzYuMmwzOC40LTI1LjRhNC43LDQuNywwLDAsMSw3LjMsNGwtMC42LDEyNS44YTQuNyw0LjcsMCwwLDEtNy40LDMuOWwtMzguMi0yNS43djIwLjhhNC43LDQuNywwLDAsMS03LjQsMy45bC01MC41LTM0djI3YTUsNSwwLDAsMS01LDVIMTNhNSw1LDAsMCwxLTUtNVYxNC41QTUsNSwwLDAsMSwxMyw5LjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOCAtOS4xKSIvPg0KPC9zdmc+DQo=)
}


.legend svg {
   max-width: 580px;
   height: auto!important;
   margin: 1rem auto 0
}

.legend .l {
   font: 7px 'Lato',sans-serif;
   fill: #666
}

.image_player {
   position: relative
}

.anim_svg {
   max-width: 800px;
   margin: 0 auto;
}

.anim svg {
   height: 500px;
   max-width:800px;
}
.legend svg {
   max-width: 780px;
   height: auto!important;
   margin: 1rem auto 0;
}
svg {
   width: 100%;
}

  .tabs {
 display: table;
 table-layout: fixed;
 width: 100%;
 -webkit-transform: translateY(5px);
 transform: translateY(5px);
 margin-bottom: 0;
 padding:0;
}
.tabs > li {
 transition-duration: .25s;
 display: table-cell;
 list-style: none;
 text-align: center;
 padding: 20px 20px 25px 20px;
 position: relative;
 overflow: hidden;
 cursor: pointer; 
 font-weight: bold;
}
.tabs > li:before {
 z-index: -1;
 position: absolute;
 content: "";
 width: 100%;
 height: 120%;
 top: 0;
 left: 0;
 background-color: rgba(255, 255, 255, 0.3);
 -webkit-transform: translateY(100%);
 transform: translateY(100%);
 transition-duration: .25s;
 border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
 -webkit-transform: translateY(70%);
 transform: translateY(70%);
}
.tabs > li.active { 
 box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.tabs > li.active:before {
 transition-duration: .5s;
 background-color: white;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}

.tab__content {
 background-color: white;
 position: relative;
 width: 100%;
 border-radius: 5px;
 margin:0;
 box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.tab__content > li {
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 display: none;
 list-style: none;
}
.tab__content > li .content__wrapper {
 text-align: center;
 border-radius: 5px;
 width: 100%;
 padding: 45px 40px 40px 40px;
 background-color: white;
}

.tab_in {
  margin: 2rem .5rem;
}

/* Slider */
input[type=range] {
   -webkit-appearance: none;
   margin: 1rem 0;
   width: 100%;
   min-width:300px;
 }
 input[type=range]:focus {
   outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   box-shadow: 1px 1px 1px #ccc, 0px 0px 1px #666;
   background: #e6e6e6;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
 }
 input[type=range]::-webkit-slider-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 26px;
   width: 16px;
   border-radius: 3px;
   background: #ffffff;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -9px;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #e6e6e6;
 }
 input[type=range]::-moz-range-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: #e6e6e6;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
 }
 input[type=range]::-moz-range-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 26px;
   width: 16px;
   border-radius: 3px;
   background: #ffffff;
   cursor: pointer;
 }
 input[type=range]::-ms-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 16px 0;
   color: transparent;
 }
 input[type=range]::-ms-fill-lower {
   background: #e6e6e6;
   border: 0.2px solid #010101;
   border-radius: 2.6px;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]::-ms-fill-upper {
   background: #e6e6e6;
   border: 0.2px solid #010101;
   border-radius: 2.6px;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]::-ms-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 26px;
   width: 16px;
   border-radius: 3px;
   background: #ffffff;
   cursor: pointer;
 }
 input[type=range]:focus::-ms-fill-lower {
   background: #e6e6e6;
 }
 input[type=range]:focus::-ms-fill-upper {
   background: #e6e6e6;
 }

 


.cl_0 { fill:#fee7dc;}
.cl_1 { fill:#fdd4c2;}
.cl_2 { fill:#fcbaa0;}
.cl_3 { fill:#fc9f81;}
.cl_4 { fill:#fb8464;}
.cl_5 { fill:#fa6949;}
.cl_6 { fill:#f24a35;}
.cl_7 { fill:#e32f27;}
.cl_8 { fill:#ca171c;}
.cl_9 { fill:#b11117;}
.cl_10 { fill:#8f0912;}

   
   /* latin-ext */
   @font-face {
      font-family: 'LatoX';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/regular.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'LatoX';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/regular2.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin-ext */
    @font-face {
      font-family: 'LatoX';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/bold.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'LatoX';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/bold.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
      
      #select_holder, .comp_box {
         display: -webkit-box!important;
         display: -ms-flexbox!important;
         display: flex!important;
         -webkit-box-pack: center!important;
         -ms-flex-pack: center!important;
         justify-content: center!important;
         -ms-flex-wrap: wrap!important;
       flex-wrap: wrap!important;
      }
      #select_holder select {
         width: 20rem;
         display:block;
      }
      #select_holder i {
         line-height: calc(1.5em + .75rem + 2px);
         margin:0 1rem;
      }
      .cpb {
         margin: 0 .25rem;
         color:#fff;
         border-radius: 5px;
         padding: .25rem;
         width: 20rem;
      }
      .comp_box span {
         font-size: .8rem;
         display: block;
         margin-top: .2rem;
      }
      .cpb a {
         color:#fff!important;
      }
      .cpbn {
         font-weight: bold;
         font-size: 1.5rem;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
      }
      .cpbnb {
         font-size: 1.35rem;
         font-weight: bold;
      }
      .cpbnb span {
         display: inline-block;
         vertical-align: top;
      }
      .cpbt {
         font-size: .8rem;
      } 
      .lds-hourglass {
      display: block;
      position: relative;
      width: 80px;
      height: 80px;
      }
      .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      box-sizing: border-box;
      border: 32px solid #a80e0e;
      border-color: #a80e0e transparent #a80e0e transparent;
      animation: lds-hourglass 1.2s infinite;
      }
   @keyframes lds-hourglass {
     0% {
       transform: rotate(0);
       animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
     }
     50% {
       transform: rotate(900deg);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
     }
     100% {
       transform: rotate(1800deg);
     }
   }
   
      @media (max-width: 48em) {
         #select_holder, #select_holder div { display: block!important;    margin: 0 auto; }
         #select_holder  select { width: 100%; margin: 0 auto;}
   
      }


      .swraper
      {
         display: inline-block;
         
         overflow: hidden !important;
         /*width: 60px;*/
         /*line-height: 20px;*/
         vertical-align: middle;
         position: relative;
         margin: 5px 0;
      
         -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          
          z-index: 99;
          cursor: pointer;
          /*-webkit-mask-image: -webkit-radial-gradient(white, black);*/
          box-sizing: content-box !important;
      }
      
      
      .swraper.disabled
      {
         opacity: .6;
         cursor: not-allowed;
      }
      
      .swraper .stoggler
      {
         position: relative;
         text-align: center;
         width: 200%;
         z-index: 1;
         -webkit-transition: all .4s ease-out .1s;
         -moz-transition: all .4s ease-out .1s;
         -o-transition: all .4s ease-out .1s;
         -ms-transition: all .4s ease-out .1s;
         transition: all .4s ease-out .1s;
      }
      
      .stoggler, .stoggler span
      {
         float: left;
      }
      
      .swraper.rtl .stoggler,
      .swraper.rtl .stoggler span
      {
         float: right;
      }
      
      /* clear fix */
      .swraper:before, .swraper:after,
      .stoggler:before, .stoggler:after
      {
         content: "";
         display: table;
         clear: both;
         #zoom: 1;
      }
      
      .stoggler .sblob
      {
         display: inline-block;
         /*width: 20px;*/
         /*height: 20px;*/
         position: absolute;
         top: 50%;
         left: 50%;
         /*margin-right: -50%;*/
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
         -ms-transform:  translate(-50%, -50%);
         transform: translate( -50%, -50%);
      }
      
      .stoggler .slabel-on,
      .stoggler .slabel-off
      {
         width: 50%;
         text-align: center;
         letter-spacing: 2px;
      }
      
      
      
      /* THEMES */
      
      /* ------------  THEME LIGHT ------------ */
      .swraper.light
      {
         border-radius: 99px;
         border: 1px solid rgba( 100, 100, 100, .3 );
      }
      
      .swraper.light .stoggler
      {
         text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
         background: #f5f5f5;
         /*background: -webkit-linear-gradient(#cfcfcf, #f5f5f5);
         background: -o-linear-gradient(#cfcfcf, #f5f5f5);
         background: linear-gradient(#cfcfcf, #f5f5f5);*/
         color: rgba( 0, 0, 0, 0.6 );
         font-size: 10px;
         font-weight: bold;
         font-family: Arial;
      }
      
      .swraper.light .stoggler.on
      {
         background: #45a31f;
         box-shadow: inset 2px 2px 6px rgba( 0, 0, 0, 0.2 );
         text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
         color: rgba( 255, 255, 255, 0.8 );
      }
      
      .swraper.light .stoggler .sblob
      {
         border-radius: 99px;
         background: -webkit-linear-gradient( #f5f5f5, #cfcfcf );
         background: linear-gradient( #f5f5f5, #cfcfcf );
         box-shadow: 0 0 4px 1px #999;
      }
      
      .swraper.light .stoggler.on .sblob
      {
         box-shadow: 0 0 10px -1px #005e00;
      }
      
      .swraper.light .stoggler .sblob:hover
      {
      background: -webkit-linear-gradient(#e4e4e4, #f9f9f9);
      background: -o-linear-gradient(#e4e4e4, #f9f9f9);
      background: linear-gradient(#e4e4e4, #f9f9f9);
      }
      
      .swraper.light .stoggler .slabel-on,
      .swraper.light .stoggler .slabel-off{}
      
      /* ------------  END THEME LIGHT ------------ */
      
      
      /* ------------  THEME MODERN ------------ */
      .swraper.modern
      {
         border-radius: 4px;
         text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.2);	
         background: -webkit-linear-gradient(#c0c5c9, #a1a9af);
         background: -o-linear-gradient(#c0c5c9, #a1a9af);
         background: linear-gradient(#c0c5c9, #a1a9af);
         -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
                 box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
      }
      
      .swraper.modern .stoggler
      {
         background: -webkit-linear-gradient(#737e8d, #3f454e);
         background: -o-linear-gradient(#737e8d, #3f454e);
         background: linear-gradient(#737e8d, #3f454e);
         text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
         -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
         box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
      
         color: white;
         font-size: 9px;
         font-weight: 500;
         font-family: Arial;
      }
      
      .swraper.modern .stoggler.on
      {
         background: -webkit-linear-gradient(#4894cd, #2852a6);
         background: -o-linear-gradient(#4894cd, #2852a6);
         background: linear-gradient(#4894cd, #2852a6);
      }
      
      .swraper.modern .stoggler .sblob
      {
         background: -webkit-linear-gradient(#c0c6c9, #81898f);
         background: -o-linear-gradient(#c0c6c9, #81898f);
         background: linear-gradient(#c0c6c9, #81898f);
         -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
               box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
         border-radius: 3px;
      }
      
      .swraper.modern .stoggler .sblob:hover
      {
         background-image: -webkit-linear-gradient(#a1a9af, #a1a9af);
         background-image: -o-linear-gradient(#a1a9af, #a1a9af);
         background-image: linear-gradient(#a1a9af, #a1a9af);
      }
      
      .swraper.modern .stoggler .slabel-on, .swraper.modern .stoggler .slabel-off{}
      
      /* ------------  END THEME MODERN ------------ */
      
      /* ------------  THEME DARK ------------ */
      .swraper.dark
      {
         border-radius: 5px;
      }
      
      .swraper.dark .stoggler
      {
         background: -webkit-linear-gradient(#242529 0%, #34363b 100%);
         background: -o-linear-gradient(#242529 0%, #34363b 100%);
         background: linear-gradient(#242529 0%, #34363b 100%);
      
         color: rgba(255, 255, 255, 0.7);
         font-size: 9px;
         font-weight: 500;
         font-family: Arial;
      }
      
      .swraper.dark .stoggler.on
      {
         background: -webkit-linear-gradient(#1a70be 0%, #31a2e1 100%);
         background: -o-linear-gradient(#1a70be 0%, #31a2e1 100%);
         background: linear-gradient(#1a70be 0%, #31a2e1 100%);
      }
      
      .swraper.dark .stoggler .sblob
      {
         color: rgba(255, 255, 255, 0.7);
         border-radius: 4px;
         background: -webkit-linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
         background: -o-linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
         background: linear-gradient(#cfcfcf 0%, #f5f5f5 100%);
         -webkit-box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
                 box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
      
      }
      
      .swraper.dark .stoggler .sblob:hover
      {
         background: -webkit-linear-gradient(#c0c0c0 0%, #dadada 100%);
         background: -o-linear-gradient(#c0c0c0 0%, #dadada 100%);
         background: linear-gradient(#c0c0c0 0%, #dadada 100%);
         -webkit-box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
                 box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
      }
      
      .swraper.dark .stoggler .slabel-on, .swraper.dark .stoggler .slabel-off{}
      
      /* ------------  END THEME DARK ------------ */
      
      
      /* ------------  THEME FLAT ------------ */
      
      .swraper.flat
      {
         border-radius: 4px;
         border: 1px solid #c6c5c5;
      }
      
      .swraper.flat .stoggler
      {
         background: #b2b2b2;
         color: #ffe;
         font-size: 11px;
      }
      
      
      .swraper.flat .stoggler.on
      {
         background: #76bc43;
         color: #ffe;
      }
      
      .swraper.flat .stoggler .sblob
      {
         border-radius: 3px;
         background: #f1f1f1;
         border: 1px solid #e6e5e5;
         box-shadow: 0 0 8px 1px #888;
      
      }
      
      .swraper.flat .stoggler.on .sblob
      {
         box-shadow: 0 0 10px -1px #337733;
      }
      
      .swraper.flat .stoggler .sblob:hover{}
      
      .swraper.flat .stoggler .slabel-on:before, .swraper.flat .stoggler .slabel-off:before{}
      



   .choice, .choice-like {
      display: inline-block;
      font-size: .8rem;
      margin: 0.1rem;
      padding: .1rem .5rem;
      background: #fff;
      color: #999;
   } 
   .easing.selected, .easing.selected:focus, .easing.selected:active  { 
      color:#ff5d10;
      border-color: #ff5d10;
      outline-color: #ff5d10;
   }
   .masks.selected, .masks.selected:focus, .masks.selected:active { 
      color:#987178;
      border-color: #987178;
      outline-color: #987178;
   }
   .estimation.selected, .estimation.selected:focus, .estimation.selected:active  { 
      color:#0dbc96;
      border-color: #0dbc96;
      outline-color: #0dbc96;
   }
   .norm.selected,.norm.selected:focus,.norm.selected:active {
      color:#1f77b4;
      border-color: #1f77b4;
      outline-color: #1f77b4;
   }
   .tests.selected,.tests.selected:focus,.tests.selected:active {
      color:#c54cbb;
      border-color: #c54cbb;
      outline-color: #c54cbb;
   }
   .bars {
      background-color:#deebf4;
   }