 
 


body {
   margin:0;
   font-family: 'LatoX', sans-serif;  
   color:#484b4c; 
   background: url("../img/bg.png") no-repeat 0 0 #f0f0f0;
}

body.wait {
   cursor: wait;
} 

.clearfix::after {
   display: block;
   clear: both;
   content: "";
}

*, ::after, ::before {
   box-sizing: border-box;
}

.box {
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .25rem;
   margin-top: 2rem;
   opacity: 1;
   transition: opacity .2s;
}

.box.nsh {
   box-shadow: 0 0 0 rgba(0,0,0,0) !important;
   border:none medium;
   opacity: 0;
   transition: opacity .2s;
}

a, a:visited {
   color:#000;
}
 

.grapht {
   margin-top:1rem;
}


.grapht h2 {
   margin-bottom:0;
   text-transform: uppercase;
}

 

.box_graph  { 
   width: 100%;
}
 
.graph_c {  
   float: left; 
   margin: 0 10px;
} 

.graph_c .js-plotly-plot {
   margin:0;
}

.graph_c h3.nmb {
   margin-bottom: 0;
   margin-top: 2rem;
}
  

/* Header */ 
.header {
   background-color: #fff;
   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   width: 100%;
   z-index: 3;
   position:relative;
}
 
 .header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
 }

 .header a {
    color:#585c5f;
 }
 
 .header li a {
   display: block;
   padding: 20px 20px;
   border-right: 1px solid #f4f4f4;
   text-decoration: none;
 }

 .header li.active a {
    font-weight: bold;
 }
 
 .header li a:hover,
 .header .menu-btn:hover {
   background-color: #f4f4f4;
 }
 
 .header .logo { 
    display: block;
    float: left;
    font-size: 1.9rem;
    padding: 10px 10px 10px 70px;
    text-decoration: none;
    font-weight: bold;
 }
 
 .logo  img {
   position: absolute;
   top:3px;
   left:10px;

 }
 

 /* menu */
 
 .header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
 }
 
 /* menu icon */
 
 .header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 28px 20px;
   position: relative;
   user-select: none;
 }
 
 .header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 
 .header .menu-icon .navicon:before {
   top: 5px;
 }
 
 .header .menu-icon .navicon:after {
   top: -5px;
 }
 
 /* menu btn */
 
 .header .menu-btn {
   display: none;
 }
 
 .header .menu-btn:checked ~ .menu {
   max-height: 840px;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }
 
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }
 
  
 @media (min-width: 48em) {


 

   .header li {
     float: left;
   }
   .header li a {
     padding: 20px 30px;
   }
   .header .menu {
     clear: none;
     float: right;
     max-height: none;
   }
   .header .menu-icon {
     display: none;
   }
 }

/* Layout */
#header {
   text-align: center;
}
.good_d {
   color: green;
}
.bad_d {
   padding:.5rem;
   margin:1rem auto;
   background-color:#c00;
   color:#fff;
   border-radius: 5px;
   max-width: 80%;
   font-weight: bold;
}

.good_t {
   color:green;
}
.bad_t {
   color:orange;
}
.ugly_t {
   color:#c30202;
}


#main-content, #footer, #disclaimer {
   text-align: center;
   max-width: 1100px;
   margin: 0 auto;
}

#disclaimer {
   text-align: left;
   line-height: 1.5;
   margin:0 auto;
   padding:.5rem;
}

#footer {
   margin-top: 2rem;
   margin-bottom: 1rem;
   border-top:1px solid #c1c1c1;
   padding:1rem .5rem;
   line-height: 1.4
}

#main-content.tonly {
   text-align: left;
   color: #111;
}

#results {
   margin: 2rem 1rem;
}

#sum_main {
   max-width: 900px;
   margin: 0 auto;
   color: #000;
   padding: 2rem 1rem;
   font-weight: bold;
   font-size: 1.5rem;
   line-height: 1.4;
}

/* Typo */ 
h1 {
   margin-bottom:.5em;
}

h2 {
   margin-top: 0;
}

p.to {
   font-size: 1.05rem;
    color: #5f5f5f;
    font-weight: bold;
   
}

#summary h3 {
   margin-bottom: 0;
}

#summary h4 {
   margin-top: .3rem;
}

/* Pies */
#outcome {
   margin: 2rem auto;
   max-width: 900px;
   border-top: 1px solid #ccc; 
}



#inout {
   padding:1.5em .5em;
   
}
 



/* Form */

/* Loader */
#state_select img {
   max-width: 80px;
   display: block;
   margin: 0 auto;
}

#recalc_form { 
   max-width: 900px;
   margin: 2rem auto;
   padding: .5rem;
   border: 1px solid #ccc;
   background: #f0f0f0;
}

#recalc_form.lg {
   max-width: 1000px;
}

#recalc_form.lg .form-group  {
   margin-left: 1rem;
}

#recalc_form.lg label {
   width:29rem;
}


.form-group {
   margin-bottom: 1rem;
   margin-left: 8rem;
}

.form-group label {
   float: left;
   margin-right: 1rem; 
   width: 25rem;
   text-align: right;
   vertical-align: middle;
   height: calc(1.5em + .75rem + 2px);
   padding-top: .5em;
   font-weight: bold;
}

.form-group label.no_e, .dval {
   line-height: calc(1.5em + .75rem + 2px);
}

.form-group label span {
   font-weight: normal;
   font-size: .85rem;
   display: block;
   line-height: 1.85;
}

.form-group label span.explained {
   display: inline;
}

.form-group .form-input {
   float: left;
   padding-top: .5rem;
}
 
input, .group span {
   width: 8rem; 
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem 0.35rem .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   word-wrap: normal;
   margin-bottom: .2rem;
}

/*
input.lg {
   width: 13.5rem;
}
*/


.group {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 0;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   text-align: center;
   white-space: nowrap;
   border-radius: .25rem;
}

.group input {
   border-radius: .25rem 0 0 .25rem;
   max-width: 5.5rem;
}
 
.group span {
   border-radius: 0 .25rem .25rem 0;
   border-left: none medium;
   max-width: 2.5rem;
}

button, a.btn{
   margin: .5rem 0 1.5rem;
   display: inline-block;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: #797979;
   border: 1px solid #ccc;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   font-weight: bold;
   text-decoration: none;
}

   a.btn:hover, a.btn:focus {
      text-decoration: none;
   }

   button.btn  {
      font-weight: normal;
      background: #ccc;
      color: #666;
   }

   a.btn.disabled {
      cursor: default;
      font-weight: bold;
      background: #fff;
      color:#111;
   }

  select {
   display: inline-block;
   width: 100%;
   max-width: 20rem;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem 1.75rem .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   vertical-align: middle;
   background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA0IDUiPjxwYXRoIGZpbGw9IiUyMzM0M2E0MCIgZD0iTTIgMEwwIDJoNHptMCA1TDAgM2g0eiIvPjwvc3ZnPg==") no-repeat right .75rem center/8px 10px;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   word-wrap: normal;
   margin-bottom: .2rem;
}

.notice {
   display: block;
   margin: .5rem auto 1rem;
}

body.wait select {
   cursor: wait;
}

#loader  {
   margin: 2rem auto;
}

#loader img {
   max-width: 120px;
   display: block;
   margin: 0 auto;
}

/* Gauges */
.gauge_cont {
   max-width: 900px;
   margin: 0 auto;
}

.metric {
   display: inline-block;
   width: 24%;
}

.metric svg {
  margin: .5em 1rem;
}

.metric path {
   stroke-width: 75;
   stroke: #ecf0f1;
   fill: none;
}

.metric .title {
   font-size: 3.8em;
}  

.metric.good path.data-arc {
   stroke: green;
}

.metric.good text {
   fill: green;
}

.metric.bad path.data-arc {
   stroke: orange;
}

.metric.bad text {
   fill: orange;
}

.metric.ugly path.data-arc {
   stroke: #c30202;
}

.metric.ugly text {
   fill: #c30202;
}

.pie_chart {
   display: block;
   width: 50%;
   margin: .1rem auto;
   float: left;
}

.inout {
   width: 320px;
   height: 320px;
   margin:0 auto;
   overflow: hidden;
}

.inout_ty {
   max-width: 950px;
   height: auto;
   overflow: auto;
   margin: 2rem auto 0;
} 

.leg ul {
   list-style: none;
   margin: 0;
   text-align: left;
   font-size: .8rem;
   padding: 0;
   margin-left: 8rem;
}

.leg ul li {
   list-style: none;
   margin:0 0 .25rem;
}

.leg ul li span {
   display: inline-block;
   width: .8rem;
   height: .8rem;
   margin-right: 1rem;
   vertical-align: baseline;
}
/* Table */
.table-holder {
   overflow-x: auto;
   margin-bottom: 1.5rem;
   overflow-y: hidden;
}

table {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   box-sizing: content-box;
   border-collapse: collapse;
   border-spacing: 0;
}
table th, td {
   padding:.4em;
   height: 20px;
}
table thead tr th, table tbody tr th {   
   vertical-align: middle;
   text-align: left; 
}
table thead tr th, table tbody td {
   text-align: right;
}
table thead tr th span {
   font-weight: normal;
}

table tbody td.ar {
   padding-left: 35px;
   background-position: 10px 50%;
   background-repeat: no-repeat;
}
table tbody td.ar.good {
   background-image:url(../img/up.png);
   color:#c00;
   font-weight: bold;
   
}
table tbody td.ar.bad {
   background-image:url(../img/down.png);
}
  
table thead tr {
   border-bottom: 1px solid #a2a2a2;
}
table thead tr.nb, table thead tr.nb td {
   border:none;
}

.brd { 
   font-style: italic;
   text-align: right;
}

 table tbody tr th {
   border-right: 1px solid #a2a2a2;
}
table tbody tr {
   border-bottom: 1px solid #ccc;
} 
table tbody tr {
   text-align: left;
}

table tbody tr:last-child td, table tbody tr:last-child th {
   border-bottom: 1px solid #a2a2a2;
}

.row_good {
   background: #c8e5c3;
}
.row_bad {
   background: #ff4e51;
}

.trend {
   font-weight: bold;
}

#std h3 {
   font-size: 1.5rem;
    color: #000;
    margin-bottom: 0;
    margin-top: 2.5rem;
}

.modebar {
   display:none!important;

}


/* Soc */
#soc {
   text-align: center;
   margin:0 .5rem;
}

ul.share-buttons {
   list-style: none;
   padding: 0;
}
ul.share-buttons li {
   display: inline;
   cursor: pointer;
   margin-left: .3rem;
   margin-right: .3rem;
}
ul.share-buttons img {
   width: 35px;
}

.adp {
   column-count: 2;
   text-align: left;
   max-width: 800px;
   margin: 2rem auto;
}

.adp span {
   display: inline-block;
   min-width: 10rem;
}


/* Graphs */
.js-plotly-plot {
   margin:0 2rem;
}


.graph_det p {
   margin-bottom: 0;
   margin-top: .2rem;
}

.wn {
   white-space: nowrap;
}



@media (max-width: 48em) {


   .graph_c {
      float: none;
      margin-left: auto;
      margin-right: auto;
   }

   .js-plotly-plot {
      margin:0;
   }

   body {
      background-position: -250px -150px;
   }

   
   h1 {
      margin-bottom: 0.2rem;
   }

   #results {
      margin: .5rem .2rem;
   }

   #sum_main {
      padding: 1rem .5rem;  
      font-size: 1.2rem;
   }

   .metric, .pie_chart {
      display: block;
      width: 100%;
      max-width: 250px;
      margin:.5rem auto;
      float:none;
   }

   .pie_chart {
      max-width: 350px;
   }

   .box {
    margin-top: .5rem;
   }

   h1 img {
      display:none;
   }

   #main-content.tonly, #disclaimer { 
      margin:0 .5rem;
   }

   .form-group {
      margin-bottom: 1rem;
      margin-left: 0rem;
  }

  .form-group label, .form-group .form-input {
      float: none;
      padding: 0;
      line-height: 1;
      height: auto;
      margin: 0;
      width: 100%;
   }

   table {
      margin: 0 .5rem;
   }

   table th, td {
      padding: .2em;
      font-size: .85rem;
   }
 
	table, thead, tbody, th, td, tr { 
      display: block; 
      width: auto;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table tbody tr th {
      border-bottom:1px solid #666;
      border-right:none medium;
   }
	
	td { 
      border: none;
      border-bottom: 1px solid #f3efef;
      position: relative;
      padding-left: 50%;
      text-align: left !important;
      padding-bottom: .2rem;
  } 

  table tbody tr  {
     margin-bottom:1rem;
     border-bottom: none medium;

  }
   
   table tbody tr:last-child td, table tbody tr:last-child th {
      border-bottom:1px solid #f3efef ;
   }

   table thead tr:last-child td, table thead tr:last-child th {
      border-bottom: 1px solid #666;

   }

   table tbody tr:last-child th {
      border-bottom: 1px solid #666;
   }

	td:before { 
      position: absolute;
      top: .1rem;
      left: .2rem;
      width: 45%;
      white-space: nowrap;
   }
   
   tfoot {
      display: none;
   }
	
	/*
	Label the data
	*/
   td:nth-of-type(1):before { content: "Current"; }
   td:nth-of-type(2):before { content: " "; }
   td:nth-of-type(3):before { content: "14-Day Trend"; }
   td:nth-of-type(4):before { content: " "; }
	td:nth-of-type(5):before { content: "7-Day Trend"; } 
   td:nth-of-type(6):before { content: " "; }

   #recalc_form {
      margin:0 .5rem .5rem;
   }

   .leg ul { 
      margin-left: 2rem;
  }

  .form-group label span {
      text-align: center;
      line-height: 1.6;
      font-size: .75rem;
   }

   #recalc_form button {
      margin-bottom: .5rem;
   }


   .group {
      display: block;
   }

   .adp {
      column-count: 1;
   } 


}


