.dets {
   display:none;
}

.anim {
   margin-bottom:2rem;
}

.anim_header {
   justify-content: space-between!important; 
   display: flex;

   h4 { 
      font-size: 1.4rem;
      text-transform: uppercase; 
      margin: 0 0 .25rem 0;
   }  
   
   p {
      margin:0
   }
 
 
}

.image_player {
    .cont_svg {
      float: right;
      margin-top:.5rem;
    }
}

.btn-anim {
 
   background-color: #cecece;
   display: inline-block;
   border-radius: 50%;
   border: 2px solid #000;
   transition: all .15s;
   cursor: pointer;
   width: 25px;
   height: 25px;
   padding: 2px;
   vertical-align: middle;



   
   span {
      width: 18px;
      height: 18px;
      padding: 0;
      display: inline-block; 
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin: .2rem;
  
   }
  

   &.m {
      width: 30px;
      height: 30px;
      padding: 5px;
      margin: 0 .5rem;

      span {
         display: block;
         width: 25px;
         height: 25px;
         padding: 3px;
         margin:0;
      }
   }

  
   
   &:hover {
      background-color:#fff;
   }

   &.btn-play {
      span {
         background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPnBsYXk8L3RpdGxlPjxwYXRoIGQ9Ik0xMzcuMSw3Mi43TDM3LjEsNi43YTUsNSwwLDAsMC03LjgsNC4ybDAuNiwxMzNhNSw1LDAsMCwwLDcuOCw0LjFsOTkuNC02N0E1LDUsMCwwLDAsMTM3LjEsNzIuN1oiLz48L3N2Zz4=);
      }
   }
   &.btn-pause {
      span {
         background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPnBhdXNlPC90aXRsZT48cmVjdCB4PSIyNS4zIiB5PSIxMS4zIiB3aWR0aD0iNTIuNyIgaGVpZ2h0PSIxMzIiIHJ4PSI1IiByeT0iNSIvPjxyZWN0IHg9IjkwLjciIHk9IjExLjMiIHdpZHRoPSI1Mi43IiBoZWlnaHQ9IjEzMiIgcng9IjUiIHJ5PSI1Ii8+PC9zdmc+);
      }
   }
   &.btn-backward {
      span {
         background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPmJhY2t3YXJkPC90aXRsZT48cGF0aCBkPSJNMTYyLjEsMTAuNWE1LDUsMCwwLDAtNy44LTQuMUw1OC42LDcwLjlWMTguMmE1LDUsMCwwLDAtNS01SDEwLjlhNSw1LDAsMCwwLTUsNXYxMjJhNSw1LDAsMCwwLDUsNUg1My42YTUsNSwwLDAsMCw1LTVWODQuNkwxNTUsMTQ4LjNhNSw1LDAsMCwwLDcuOC00LjJaIi8+PC9zdmc+);
      }
   }
   &.btn-forward {
      span {
         background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjguNyAxNTQuNyI+PHRpdGxlPmZvcndhcmQ8L3RpdGxlPjxwYXRoIGQ9Ik0xNTcuNyw5LjVIMTE1LjFhNSw1LDAsMCwwLTUsNVY3MC4xTDEzLjcsNi40YTUsNSwwLDAsMC03LjgsNC4yTDYuNSwxNDQuMmE1LDUsMCwwLDAsNy44LDQuMWw5NS44LTY0LjV2NTIuN2E1LDUsMCwwLDAsNSw1aDQyLjdhNSw1LDAsMCwwLDUtNVYxNC41QTUsNSwwLDAsMCwxNTcuNyw5LjVaIi8+PC9zdmc+);
      }
   }
   &.btn-fastforward {
      span {
         background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDkuNyAxMzYuMiI+DQogIDx0aXRsZT5mYXN0X2ZvcndhcmQ8L3RpdGxlPg0KICA8cGF0aCBkPSJNMTUyLjcsOS41SDExNy4xYTUsNSwwLDAsMC01LDVWNDMuNkw2MSw5LjhhNC43LDQuNywwLDAsMC03LjMsNFYzNi4yTDE1LjQsMTAuOGE0LjcsNC43LDAsMCwwLTcuMyw0TDguNiwxNDAuNmE0LjcsNC43LDAsMCwwLDcuNCwzLjlsMzguMi0yNS43djIwLjhhNC43LDQuNywwLDAsMCw3LjQsMy45bDUwLjUtMzR2MjdhNSw1LDAsMCwwLDUsNWgzNS43YTUsNSwwLDAsMCw1LTVWMTQuNUE1LDUsMCwwLDAsMTUyLjcsOS41WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTggLTkuMSkiLz4NCjwvc3ZnPg0K)
      }
   }
   
   &.btn-fastbackward {
      span {
         background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDkuNyAxMzYuMiI+DQogIDx0aXRsZT5mYXN0X2JhY2t3YXJkPC90aXRsZT4NCiAgPHBhdGggZD0iTTEzLDkuNUg0OC43YTUsNSwwLDAsMSw1LDVWNDMuNmw1MS0zMy43YTQuNyw0LjcsMCwwLDEsNy4zLDRWMzYuMmwzOC40LTI1LjRhNC43LDQuNywwLDAsMSw3LjMsNGwtMC42LDEyNS44YTQuNyw0LjcsMCwwLDEtNy40LDMuOWwtMzguMi0yNS43djIwLjhhNC43LDQuNywwLDAsMS03LjQsMy45bC01MC41LTM0djI3YTUsNSwwLDAsMS01LDVIMTNhNSw1LDAsMCwxLTUtNVYxNC41QTUsNSwwLDAsMSwxMyw5LjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOCAtOS4xKSIvPg0KPC9zdmc+DQo=)   }
      }
}