.cl_10 {
   background:#8f0912;
   fill:#8f0912;
}
.cl_9 {
   background:#b11117;
   fill:#b11117;
}
.cl_8 {
   background:#ca171c;
   fill:#ca171c;
}
.cl_7 {
   background:#e32f27;
   fill:#e32f27;
}
.cl_6 {
   background:#f24a35;
   fill:#f24a35;
}
.cl_5 {
   background:#fa6949;
   fill:#fa6949;
}
.cl_4 {
   background:#fb8464;
   fill:#fb8464;
}
.cl_3 {
   background:#fc9f81;
   fill:#fc9f81;
}
.cl_2 {
   background:#fcbaa0;
   fill:#fcbaa0;
}
.cl_1 {
   background:#fdd4c2;
   fill:#fdd4c2;
}
.cl_0 {
   background:#fee7dc;
   fill:#fee7dc;
}
.cl_n {
   background:#ccc;
   fill:#ccc;
} 