.cl_10 {
   background:rgb(143,9,18);
   fill:rgb(143,9,18);
}
.cl_9 {
   background:rgb(177,17,23);
   fill:rgb(177,17,23);
}
.cl_8 {
   background:rgb(202,23,28);
   fill:rgb(202,23,28);
}
.cl_7 {
   background:rgb(227,47,39);
   fill:rgb(227,47,39);
}
.cl_6 {
   background:rgb(242,74,53);
   fill:rgb(227,47,39);
}
.cl_5 {
   background:rgb(250,105,73);
   fill:rgb(250,105,73);
}
.cl_4 {
   background:rgb(251,132,100);
   fill:rgb(251,132,100);
}
.cl_3 {
   background:rgb(252,159,129);
   fill:rgb(252,159,129);
}
.cl_2 {
   background:rgb(252,186,160);
   fill:rgb(252,186,160);
}
.cl_1 {
   background:rgb(253,212,194);
   fill:rgb(253,212,194);
}
.cl_0 {
   background:rgb(254,231,220);
   fill:rgb(254,231,220);
}





