/plots/*.png
/json/*.json
/dist/*.html
/states/*.html
/states/*
/covid-19-data/*.csv
/__pycache__/
/html/*.html
/html/states/*.html
/covid-19-data/
conf_vince.py
node_modules/
err_log.txt
/anim
test.svg
test.html 
main.html
all-counties-growth.html
all-counties-mortality.html
all-counties.html
*.gz
None.png
corona-calc-vince.html
corona-calc.html
*.csv
/covid-19-intl-data/*
corona-calc/flashcards/*
corona-calc/main_gbu.html
gbu_images/
corona-calc/*_gbu.html
python/__pycache__/
corona-calc/states
corona-calc/json
corona-calc/json/**/*.json
corona-calc/json/*.json
data/key-dates.txt
corona-calc/covid-19-intl-data/
*.mp4