/plots/*.png
/json/*.json
/dist/*.html
/states/*.html
/states/*
/covid-19-data/*.csv
/__pycache__/
/html/*.html
/html/states/*.html
/covid-19-data/
conf_vince.py
node_modules/
err_log.txt
/anim
test.svg
test.html