<!DOCTYPE html>
<html>
<head>

   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162991609-1"></script>
   <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-162991609-1');</script>
 
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>COVID-19 - All USA Counties Statistics</title>

   <meta name="author" content="Mike Hankey">
   <meta name="description" content="{PAGE_DESC}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <script src="./dist/js/cvinfo.min.js?{VERSION}"></script>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <link href="./dist/css/cvinfo.css?{VERSION}" rel="stylesheet">

   <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">

   <meta property="og:title" content="COVID-19 (Coronavirus) - All USA Counties - Last Update: {LAST_UPDATE}"/>
   <meta property="og:type" content="article"/>
   <meta property="og:url" content="http://cvinfo.org/"/>
   <meta property="og:site_name" content="COVID-19 - US Statistics"/>
   <meta property="og:description" content="{PAGE_DESC}"/>

</head>
<body>
   <div id="header">
      <h1>COVID 19 - US Stats</h1> 
      <div id="up">Last Update: {LAST_UPDATE}</div>
   </div>
   <div id="bc"> 
         <div class="hbc"> 
         <a href="index.html"><b>USA</b></a>
         <a href="AL.html">Alabama</a>
         <a href="AK.html">Alaska</a>
         <a href="AZ.html">Arizona</a>
         <a href="AR.html">Arkansas</a>
         <a href="CA.html">California</a>
         <a href="CO.html">Colorado</a>
         <a href="CT.html">Connecticut</a>
         <a href="DE.html">Delaware</a>
         <a href="FL.html">Florida</a>
         <a href="GA.html">Georgia</a>
         <a href="HI.html">Hawaii</a>
         <a href="ID.html">Idaho</a>
         <a href="IL.html">Illinois</a>
         <a href="IN.html">Indiana</a>
         <a href="IA.html">Iowa</a>
         <a href="KS.html">Kansas</a>
         <a href="KY.html">Kentucky</a>
         <a href="LA.html">Louisiana</a>
         <a href="ME.html">Maine</a>
         <a href="MD.html">Maryland</a>
         <a href="MA.html">Massachusetts</a>
         <a href="MI.html">Michigan</a>
         <a href="MN.html">Minnesota</a>
         <a href="MS.html">Mississippi</a>
         <a href="MO.html">Missouri</a>
         <a href="MT.html">Montana</a>
         <a href="NE.html">Nebraska</a>
         <a href="NV.html">Nevada</a>
         <a href="NH.html">New Hampshire</a>
         <a href="NJ.html">New Jersey</a>
         <a href="NM.html">New Mexico</a>
         <a href="NY.html">New York</a>
         <a href="NC.html">North Carolina</a>
         <a href="ND.html">North Dakota</a>
         <a href="OH.html">Ohio</a>
         <a href="OK.html">Oklahoma</a>
         <a href="OR.html">Oregon</a>
         <a href="PA.html">Pennsylvania</a>
         <a href="RI.html">Rhode Island</a>
         <a href="SC.html">South Carolina</a>
         <a href="SD.html">South Dakota</a>
         <a href="TN.html">Tennessee</a>
         <a href="TX.html">Texas</a>
         <a href="UT.html">Utah</a>
         <a href="VT.html">Vermont</a>
         <a href="VA.html">Virginia</a>
         <a href="WA.html">Washington</a>
         <a href="WV.html">West Virginia</a>
         <a href="WI.html">Wisconsin</a>
         <a href="WY.html">Wyoming</a>
         <a href="DC.html">Washington DC</a>
         <hr/>
         <a href="all-counties.html" class="{active_all}"><b>All Counties sorted by Cases per Million</b></a>
         <a href="all-counties-growth.html" class="{active_growth}"><b>Fastest Growing Covid-19 Counties</b></a>
         <a href="all-counties-mortality.html" class="{active_mortality}"><b>Counties with Highest Mortality</b></a>
         <a href="corona-calc.html"><b><span style="color:#fff!important">NEW</span> Covid-19 Forcasting Tool</b></a>
      </div>
   </div>
   <div id="sub-t">
         <h2>COVID-19 Statistics for all US Counties </h2>
         <p>{PAGE_DESC}</p>
   </div> 
     
   <div class="table-holder">
      {COUNTY_TABLE}   
   </div>

   <div id="soc">
         <ul class="share-buttons">
               <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcvinfo.org&quote=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="./dist/img/Facebook.svg" /></a></li>
               <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcvinfo.org&text=:%20http%3A%2F%2Fcvinfo.org" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="./dist/img/Twitter.svg" /></a></li>
               <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fcvinfo.org&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img alt="Pin it" src="./dist/img/Pinterest.svg" /></a></li>
               <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcvinfo.org&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="./dist/img/Reddit.svg" /></a></li>
               <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fcvinfo.org&title=&summary=&source=http%3A%2F%2Fcvinfo.org" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Share on LinkedIn" src="./dist/img/LinkedIn.svg" /></a></li>
         </ul>
      </div>
      <div id="ft">
            cvinfo.org provides enhanced COVID-19 statistics and reports made from open source data 
            <a href="https://covidtracking.com/">Covid Tracking</a> -  
            <a href="https://github.com/nytimes/covid-19-data">Covid 19 Data</a> <BR>
            contact: mike.hankey[@]gmail.com
         </div>
   <script>var dsc = {DEFAUT_SORT_COL}; // Default sort col</script>
</body>
</html>
