
<!DOCTYPE html>
<html>
<head> 
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164814690-1"></script>
   <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}  gtag('js', new Date()); gtag('config', 'UA-164814690-1');</script>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="msapplication-TileColor" content="#f0f0f0">
   <meta name="theme-color" content="#f0f0f0">
   <base href="/states/">
   <meta property="fb:app_id" content="542306269804125"/>
   <meta property="og:title" content="CoronaFiles.us - COVID-19 COUNTY HOTSPOTS - Counties with 100+ New Cases Per Day"/>
   <meta property="og:type" content="website"/>
   <meta property="og:url" content="https://coronafiles.us/hotspots.html"/>
   <meta property="og:site_name" content="CoronaFiles.us"/>
   <meta property="og:description" content="COVID-19 Forecasting and Stats Visualizer"/>
   <meta property="og:locale" content="en_US"/>
   <meta property="og:image" content="https://coronafiles.us/img/coronafiles_hotspots_fb.jpg">
   <meta property="og:image:width" content="1200"/>
   <meta property="og:image:height" content="630"/>
   <meta property="og:image:alt" content="CoronaFiles.us - COVID-19 COUNTY HOTSPOTS - Counties with 100+ New Cases Per Day"/>

   <meta name="author" content="Mike Hankey">
   <meta name="description" content="COVID-19 HOT SPOTS - Counties with 100+ New Cases Per Day!">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="keywords" content="corona virus, covid 19, forecast, prediction, predicted outcome, calculator, county alerts, outbreaks">

   <title>COVID-19 COUNTY HOTSPOTS - Counties with more than 100 New Cases Per Day</title>

   <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <link href="../css/coronafiles.css" rel="stylesheet">

   <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
   <link rel="manifest" href="../site.webmanifest">
   <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">

</head>
<body >

<header class="header clearfix">
   <a href="" class="logo"><img src="../img/logo.png"/> <span>CoronaFiles.us</span></a>
   <input class="menu-btn" type="checkbox" id="menu-btn" />
   <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
   <ul class="menu">
         <li><a href="../states/index.html">Compare</a></li>
         <li class="active" ><a href="../states/hotspots.html">Hotspots</a></li>
         <li><a href="../states/alerts.html">Alerts</a></li>
         <li><a href="../herd_immunity_calculator.html">Herd Immunity</a></li>
         <li><a href="../countries_vs_us.html">Intl. Comparison</a></li>
         <li><a href="../forecast.html">Forecast</a></li>
         <li><a href="../about.html">About</a></li>
      </ul>
</header>

<div id="header">
   <h1>United States - COVID-19 US County Hotspots</h1>
   <p>Here we see the rolling 7-day average for new cases per state. States are grouped into categories based on the current day's value compared to the highest historical peak value. </p>
</div>
<div id="main-content">
      
   <div class="box clearfix">
      <div class="grapht">
         <h2 class="ugly_t">COUNTY HOTSPOTS</h2> 
         <p>The following counties are adding more than 100 new COVID-19 cases per day.<br/><b>{HOW_MANY_HOTSPOT} counties matching criteria.</b></p>
      </div>
      {HOTSPOTS_GRAPHS}
   </div>
    
</div>
<div id="footer">
   coronafiles.us provides enhanced COVID-19 statistics and reports made from open source data <a href="https://covidtracking.com/">Covid Tracking</a> and <a href="https://github.com/nytimes/covid-19-data">Covid 19 Data</a>
   <br/>contact: mike.hankey[@]gmail.com
</div>


<script src="../js/shared/framework_plugs.js"></script>   
<script>
      $(function() { 
         $('#state_selector').change(function() {
            var v = $('#state_selector').val();
            if(v!='ALL')  window.location = '/states/'+ $('#state_selector').val()
            else          window.location = '/states/'
         });
      })
      </script>
</body>
</html>