<a href=NY.html>New York</a>
 <a href=NJ.html>New Jersey</a>
 <a href=MI.html>Michigan</a>
 <a href=MO.html>Missouri</a>
 <a href=LA.html>Louisiana</a>
 <a href=MA.html>Massachusetts</a>
 <a href=CT.html>Connecticut</a>
 <a href=DC.html>Washington DC</a>
 <a href=WA.html>Washington</a>
 <a href=IL.html>Illinois</a>
 <a href=VT.html>Vermont</a>
 <a href=RI.html>Rhode Island</a>
 <a href=CO.html>Colorado</a>
 <a href=DE.html>Delaware</a>
 <a href=PA.html>Pennsylvania</a>
 <a href=GA.html>Georgia</a>
 <a href=NV.html>Nevada</a>
 <a href=TN.html>Tennessee</a>
 <a href=IN.html>Indiana</a>
 <a href=MS.html>Mississippi</a>
 <a href=FL.html>Florida</a>
 <a href=UT.html>Utah</a>
 <a href=MD.html>Maryland</a>
 <a href=WI.html>Wisconsin</a>
 <a href=ID.html>Idaho</a>
 <a href=NH.html>New Hampshire</a>
 <a href=ME.html>Maine</a>
 <a href=SC.html>South Carolina</a>
 <a href=AL.html>Alabama</a>
 <a href=CA.html>California</a>
 <a href=OH.html>Ohio</a>
 <a href=WY.html>Wyoming</a>
 <a href=AZ.html>Arizona</a>
 <a href=AR.html>Arkansas</a>
 <a href=ND.html>North Dakota</a>
 <a href=OR.html>Oregon</a>
 <a href=AK.html>Alaska</a>
 <a href=IA.html>Iowa</a>
 <a href=VA.html>Virginia</a>
 <a href=KS.html>Kansas</a>
 <a href=HI.html>Hawaii</a>
 <a href=NC.html>North Carolina</a>
 <a href=OK.html>Oklahoma</a>
 <a href=NM.html>New Mexico</a>
 <a href=SD.html>South Dakota</a>
 <a href=TX.html>Texas</a>
 <a href=KY.html>Kentucky</a>
 <a href=WV.html>West Virginia</a>
 <a href=NE.html>Nebraska</a> 