<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>COVID 19 - {STATE_NAME} Stats</title>

	<meta name="author" content="Mike Hankey">
	<meta name="description" content="COVID 19 (Coronavirus) Stats for  {STATE_NAME}, USA, Per Million, By County, Historical">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <script src="../dist/js/jquery.tablesorter.min.js"></script>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <link href="../dist/css/m.css" rel="stylesheet"> 
 

</head>
<body>
   <h1>COVID 19 <br class="mbo"> {STATE_NAME} Stats</h1>
   <div id="up">Last Update: {LAST_UPDATE}</div>
   <div id="bc"> 
      <a href="../main.html"><b>USA</b></a>
      <a href="../all-counties.html"><b>All Counties</b></a>
      
      <a href="AL.html">Alabama</a>
      <a href="AK.html">Alaska</a>
      <a href="AZ.html">Arizona</a>
      <a href="AR.html">Arkansas</a>
      <a href="CA.html">California</a>
      <a href="CO.html">Colorado</a>
      <a href="CT.html">Connecticut</a>
      <a href="DE.html">Delaware</a>
      <a href="FL.html">Florida</a>
      <a href="GA.html">Georgia</a>
      <a href="HI.html">Hawaii</a>
      <a href="ID.html">Idaho</a>
      <a href="IL.html">Illinois</a>
      <a href="IN.html">Indiana</a>
      <a href="IA.html">Iowa</a>
      <a href="KS.html">Kansas</a>
      <a href="KY.html">Kentucky</a>
      <a href="LA.html">Louisiana</a>
      <a href="ME.html">Maine</a>
      <a href="MD.html">Maryland</a>
      <a href="MA.html">Massachusetts</a>
      <a href="MI.html">Michigan</a>
      <a href="MN.html">Minnesota</a>
      <a href="MS.html">Mississippi</a>
      <a href="MO.html">Missouri</a>
      <a href="MT.html">Montana</a>
      <a href="NE.html">Nebraska</a>
      <a href="NV.html">Nevada</a>
      <a href="NH.html">New Hampshire</a>
      <a href="NJ.html">New Jersey</a>
      <a href="NM.html">New Mexico</a>
      <a href="NY.html">New York</a>
      <a href="NC.html">North Carolina</a>
      <a href="ND.html">North Dakota</a>
      <a href="OH.html">Ohio</a>
      <a href="OK.html">Oklahoma</a>
      <a href="OR.html">Oregon</a>
      <a href="PA.html">Pennsylvania</a>
      <a href="RI.html">Rhode Island</a>
      <a href="SC.html">South Carolina</a>
      <a href="SD.html">South Dakota</a>
      <a href="TN.html">Tennessee</a>
      <a href="TX.html">Texas</a>
      <a href="UT.html">Utah</a>
      <a href="VT.html">Vermont</a>
      <a href="VA.html">Virginia</a>
      <a href="WA.html">Washington</a>
      <a href="WV.html">West Virginia</a>
      <a href="WI.html">Wisconsin</a>
      <a href="WY.html">Wyoming</a>
      <a href="DC.html">Washington DC</a>
      
   </div> 


   <div id="main-container">
      <div id="state" class="clearfix">
         <div class="flg">
               <img src="http://archive.allsky.tv/covid/flags/{STATE_CODE_L}.png"/>
         </div>
         <div class="std">
               <h2>{STATE_NAME} <span>Population: <b>{POPULATION}</b></span></h2>
               <dl> 
                     <dt>Cases </dt>
                     <dd>{CASES}</dd>
                     <dt>Deaths  </dt>
                     <dd>{DEATHS}</dd>
                     <dt>New Cases </dt>
                     <dd>{CASE_INCREASE}</dd>
                     <dt>New Deaths</dt>
                     <dd>{DEATH_INCREASE}</dd>
                     <dt>Cases per million </dt>
                     <dd>{CPM}</dd>
                     <dt>Deaths per million </dt>
                     <dd>{DPM}</dd>
                     <dt>Total Tests</dt>
                     <dd>{TESTS}</dd>
                     <dt>Tests Per Million</dt>
                     <dd>{TPM}</dd>
                     <dt>Case Growth %</dt>
                     <dd>{CASE_GROWTH}</dd>
                     <dt>Death Growth %</dt>
                     <dd>{DEATH_GROWTH}</dd>
                     <dt>Mortality Rate</dt>
                     <dd>{MORTALITY}</dd>
                     <dt>State Data Update</dt>
                     <dd>{STATE_LAST_UPDATE}</dd>
                     <dt>County Data Update</dt>
                     <dd>{COUNTY_LAST_UPDATE}</dd> 
                  </dl>
         </div>
      </div>
   
      <div id="graphs" class="clearfix">
            <h3>Graphs</h3>
            <div class="graph_container">
                  <div class="grid">
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-cd.png">
                     </div>
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-pm.png">
                     </div>
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-in.png">
                     </div>
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-ts.png">
                     </div>
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-gr.png">
                     </div>
                     <div class="cell">
                        <img src="http://archive.allsky.tv/covid/plots/{STATE_CODE}-mt.png">
                     </div>
                  </div>
            </div>
         </div>

 

      <div id="state_counties_map">
         <h3>State Map</h3>
         {SVG_STATE_COUNTIES}
      </div>

      <div class="table-holder">
         {COUNTY_TABLE} 
      </div>


   </div>
 

  <div id="ft">
      cvinfo.org provides enhanced COVID-19 statistics and reports made from open source data<BR> 
      <a href="https://covidtracking.com/">Covid Tracking</a> -  
      <a href="https://github.com/nytimes/covid-19-data">Covid 19 Data</a> <BR>
      contact: mike.hankey[@]gmail.com
   </div>


   <div id="graph_img_viewer" class="modal">
         <span class="close">&times;</span>
         <img class="modal-content" id="img_fv">
         <div id="caption"></div>
      </div>

<script>
   
   var cur_state =  "{STATE_CODE_L}";
   cur_state = cur_state.toUpperCase();

  function open_modal() {
      var modal = document.getElementById("graph_img_viewer");
      var modalImg = document.getElementById("img_fv"); 

     $('.cell img').click(function() {
         modal.style.display = "block";
         modalImg.src = $(this).attr('src'); 
     })
 
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
         modal.style.display = "none";
      }
  } 





   function actionsOnSVGState() {
         $('path,circle').mouseenter(function() {
            var $t = $(this);
            var state = $t.attr('id'); 
            $("path, tr,circle").removeClass('on');
            $("path#"+state).addClass('on'); 
            $("tr[data-state="+state+"]").addClass('on');
            $('.selected').removeClass('selected');
 
         }).mouseleave(function() {
            $('path, tr').removeClass('on');
         }).click(function() {
            var $t = $(this);
            var state = $t.attr('id'); 
            state = state.substring(5,state.length); // Remove "FIPS"
            $('.selected').removeClass('selected');
            $("html, body").animate({ scrollTop: $('#'+state).offset().top }, 150, function() {$('#'+state).addClass('selected') });
         });
      }
 
  




  $(function() {

      // Action
      actionsOnSVGState(); 
     
     
     // Table sorter
     $("table thead th:eq(0)").data("sorter", false);
     $('table').tablesorter({
        widgets        : ['zebra', 'columns'],
        usNumberFormat : false,
        sortReset      : true,
        sortRestart    : true
     });
     
     // Click on stats image
     open_modal();

     // Set Active State
     $('a[href="'+cur_state+'.html"]').addClass('active');

  })



 
   

</script> 
</body>
</html>

