<!DOCTYPE html>
<html>
<head>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162991609-1"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-162991609-1');
   </script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>{STATE_NAME} COVID-19 Statistics</title> 

	<meta name="author" content="Mike Hankey">
	<meta name="description" content="COVID 19 (Coronavirus) Stats for {STATE_NAME}, USA, Per Million, By County, Historical">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
   <link href="../dist/css/cvinfo.css?v={VERSION}" rel="stylesheet"> 
   
   <meta property="og:title" content="COVID-19 (Coronavirus) - {STATE_NAME}  Statistics - Last Update: {LAST_UPDATE}"/>
   <meta property="og:type" content="article"/>
   <meta property="og:url" content="http://cvinfo.org/"/>
   <meta property="og:site_name" content="COVID-19 - US Statistics"/> 
   <meta property="og:description" content="COVID 19 (Coronavirus) Stats for {STATE_NAME}, Per Million, By County, Historical..."/>
   <!--

   <meta property="og:image" content="states/{STATE_CODE}-prev.png"/>
   <meta property="og:image:width" content="1200"/>
   <meta property="og:image:height" content="630"/>
   <meta property="og:image" content="{NICE_IMAGE}"/>
   <meta property="og:image:width" content="1200"/>
   <meta property="og:image:height" content="630"/>

   -->
   
 

</head>
<body>
   <div id="header">
      <h1>COVID-19 <br class="mbo"> {STATE_NAME} Statistics</h1>
      <div id="up">Last Update: {LAST_UPDATE}</div>
   </div>
   <div id="bc"> 
         <div class="hbc">
         <a href="../main.html" class="tt"><b>USA</b></a>
         <a href="../all-counties.html" ><b>All Counties</b></a>
         <a href="AL.html">Alabama</a>
         <a href="AK.html">Alaska</a>
         <a href="AZ.html">Arizona</a>
         <a href="AR.html">Arkansas</a>
         <a href="CA.html">California</a>
         <a href="CO.html">Colorado</a>
         <a href="CT.html">Connecticut</a>
         <a href="DE.html">Delaware</a>
         <a href="FL.html">Florida</a>
         <a href="GA.html">Georgia</a>
         <a href="HI.html">Hawaii</a>
         <a href="ID.html">Idaho</a>
         <a href="IL.html">Illinois</a>
         <a href="IN.html">Indiana</a>
         <a href="IA.html">Iowa</a>
         <a href="KS.html">Kansas</a>
         <a href="KY.html">Kentucky</a>
         <a href="LA.html">Louisiana</a>
         <a href="ME.html">Maine</a>
         <a href="MD.html">Maryland</a>
         <a href="MA.html">Massachusetts</a>
         <a href="MI.html">Michigan</a>
         <a href="MN.html">Minnesota</a>
         <a href="MS.html">Mississippi</a>
         <a href="MO.html">Missouri</a>
         <a href="MT.html">Montana</a>
         <a href="NE.html">Nebraska</a>
         <a href="NV.html">Nevada</a>
         <a href="NH.html">New Hampshire</a>
         <a href="NJ.html">New Jersey</a>
         <a href="NM.html">New Mexico</a>
         <a href="NY.html">New York</a>
         <a href="NC.html">North Carolina</a>
         <a href="ND.html">North Dakota</a>
         <a href="OH.html">Ohio</a>
         <a href="OK.html">Oklahoma</a>
         <a href="OR.html">Oregon</a>
         <a href="PA.html">Pennsylvania</a>
         <a href="RI.html">Rhode Island</a>
         <a href="SC.html">South Carolina</a>
         <a href="SD.html">South Dakota</a>
         <a href="TN.html">Tennessee</a>
         <a href="TX.html">Texas</a>
         <a href="UT.html">Utah</a>
         <a href="VT.html">Vermont</a>
         <a href="VA.html">Virginia</a>
         <a href="WA.html">Washington</a>
         <a href="WV.html">West Virginia</a>
         <a href="WI.html">Wisconsin</a>
         <a href="WY.html">Wyoming</a>
         <a href="DC.html">Washington DC</a>
      </div>
   </div> 


   <div id="main-container">
      <div id="state" class="clearfix">
         <div class="flg">
               <img src="../flags/{STATE_CODE_L}.png"/>
               <span>Population: <b>{POPULATION}</b></span>
         </div>
         <div class="std">
               <h2>{STATE_NAME}</h2>
               <dl> 
                     <dt>Cases </dt>
                     <dd>{CASES}</dd>
                     <dt>Deaths  </dt>
                     <dd>{DEATHS}</dd>
                     <dt>New Cases*</dt>
                     <dd>{CASE_INCREASE}</dd>
                     <dt>New Deaths*</dt>
                     <dd>{DEATH_INCREASE}</dd>
                     <dt>Cases per million </dt>
                     <dd>{CPM}</dd>
                     <dt>Deaths per million </dt>
                     <dd>{DPM}</dd>
                     <dt>Total Tests</dt>
                     <dd>{TESTS}</dd>
                     <dt>Tests Per Million</dt>
                     <dd>{TPM}</dd>
                     <dt>Case Growth</dt>
                     <dd>{CASE_GROWTH}</dd>
                     <dt>Death Growth</dt>
                     <dd>{DEATH_GROWTH}</dd>
                     <dt>Mortality Rate</dt>
                     <dd>{MORTALITY}</dd>
                     <dt>Hospitalized Now</dt>
                     <dd>{HOSP_NOW}</dd>
                     <dt>ICU Now</dt>
                     <dd>{ICU_NOW}</dd>
                     <dt>Ventilator Now</dt>
                     <dd>{VENT_NOW}</dd>
                     <dt>Recovered </dt>
                     <dd>{RECOVERED}</dd>
                     <dt>State Data Update</dt>
                     <dd>{STATE_LAST_UPDATE}</dd>
                     <dt>County Data Update</dt>
                     <dd>{COUNTY_LAST_UPDATE}</dd> 
                  </dl>

                  <p>* last 24 hours.</p>
         </div>
      </div>

      <div id="graphs" class="clearfix">
         <h3>Graphs</h3>
         <div class="graph_container">
               <div class="grid">
                  <div class="cell">
                     <div id=plot_cd></div>
                  </div>
                  <div class="cell">
                     <div id=plot_pm></div>
                  </div>
                  <div class="cell">
                     <div id=plot_in></div>
                  </div>
                  <div class="cell">
                     <div id=plot_ts></div>
                  </div>
                  <div class="cell">
                     <div id=plot_gr></div>
                  </div>
                  <div class="cell">
                     <div id=plot_mt></div>
                  </div>
                  <div class="cell">
                     <div id=plot_dk></div>
                  </div>
               </div>
         </div>
      </div>

      <div id="state_level" class="anim">
            <div class="anim_header">
               <div>
                  <h4>{STATE_NAME} - <span id="anim_date">{INIT_ANIM_DATE}</span></h4>
                  <p><span id="cur_type_st">{CUR_TYPE}</span>: <span id="cur_type_val"></span></p>
               </div>
               <div>{ANIM_VIEW_SELECT}</div>
            </div>
            {ALL_SVG_ANIM}
      </div> 
          

      <div class="table-holder">
         {COUNTY_TABLE} 
      </div>
 

         
   </div>
  

  <div id="ft">
      cvinfo.org provides enhanced COVID-19 statistics and reports made from open source data<BR> 
      <a href="https://covidtracking.com/">Covid Tracking</a> -  
      <a href="https://github.com/nytimes/covid-19-data">Covid 19 Data</a> <BR>
      contact: mike.hankey[@]gmail.com
   </div>


   <div id="graph_img_viewer" class="modal">
         <span class="close">&times;</span>
         <img class="modal-content" id="img_fv">
         <div id="caption"></div>
   </div>


{COUNTY_TOOL_TIP_DIVS}
 

<script>
   
   var cur_state =  "{STATE_CODE_L}";
   cur_state = cur_state.toUpperCase();

   /* AMIM VALS */
   var cpm_vals = {CPM_VALS};
   var dpm_vals = {DPM_VALS};
   var cases_vals = {CASES_VALS};
   var deaths_vals = {DEATHS_VALS};
   var cg_med_vals = {CG_MED_VALS};
   var dg_med_vals = {DG_MED_VALS};
   var mortality_vals = {MORTALITY_VALS};
   var new_cases_vals = {NEW_CASES_VALS};
   var new_deaths_vals = {NEW_DEATHS_VALS};

   /* DEFAULT */
   var default_anim_view = "{DEFAULT_ANIM_VIEW}";
  
  
</script> 
<script src="../dist/js/cvinfo.min.js?v={VERSION}"></script>
<script>
{PLOT_SCRIPT}
</script>

</body>
</html> 
